@font-face {
  font-family: "Cairo-ExtraLight";
  src: url("../assets/fonts/Cairo-ExtraLight.ttf");
}

@font-face {
  font-family: "Cairo-Light";
  src: url("../assets/fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo-Regular";
  src: url("../assets/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Cairo-SemiBold";
  src: url("../assets/fonts/Cairo-SemiBold.ttf");
}

@font-face {
  font-family: "Cairo-Bold";
  src: url("../assets/fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo-Black";
  src: url("../assets/fonts/Cairo-Black.ttf");
}

* {
  font-family: Cairo-Regular;
  padding: 0;
  margin: 0;
}

a,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.header {
  height: 96px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  align-items: center;
  overflow: visible;
  justify-content: space-between;
}

.logo-image {
  height: 40px;
}

.left-header-item {
  margin-left: auto !important;
}
.home-page {
  /* margin-left: 32px; */
  cursor: pointer;
  padding: 10px 8px;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: white;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #6d44bc;
}

.what-we-do {
  cursor: pointer;
  margin-left: 32px;
  padding: 10px 8px;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: white;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #6d44bc;
}

.header-logo {
  display: none;
}

.active-header {
  background-color: #eab611;
}

.brand-identity-design {
  cursor: pointer;
  margin-left: 32px;
  padding: 10px 8px;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: white;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #6d44bc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 85px;
  background-color: #6e44bcd7;
  border: 1px solid black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 45px;
  z-index: 1;
  right: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.social-media {
  display: flex;
  margin-left: 32px;
  flex-direction: column;
  overflow: visible;
  transform: translateY(calc(50% - 20px));
  z-index: 100;
}
.social-media.collapse {
  flex-direction: row !important;
}
.social-media.collapse .linkedin,
.social-media.collapse .facebook {
  margin-top: 0px !important;
  margin-left: 10px !important;
}

.instagram {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #6d44bc;
}

.linkedin {
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */

  background-color: #6d44bc;
}

.facebook {
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  font-family: Cairo-SemiBold;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px #eab611 solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */

  background-color: #6d44bc;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  overflow: hidden;
  min-height: calc(100vh - 225px);
  z-index: 1;
}

.information {
  font-family: Cairo-SemiBold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6d44bc;
}

.phone-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
  margin-bottom: 10px;
}

.phone-left-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coming-soon {
  margin-top: 16px;
  border: 1px #eab611 solid;
  padding: 8px 10px 8px 10px;
  font-family: Cairo-Bold;
  font-size: 20px;
  line-height: 28px;
  border-radius: 12px;
  color: #fff;
  background-color: #6d44bc;
}

.platform-buttons {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.android-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  font-family: Cairo-Bold;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px #6d44bc solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #eab611;
}

.button-divider {
  width: 16px;
}

.ios-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  font-family: Cairo-Bold;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px #6d44bc solid;
  /* box-shadow: 6px 6px 12px #d06ed995; */
  background-color: #eab611;
}

.phone-center-container {
  justify-self: center;
  border-radius: 29px;
  /* height: 365px; */
  width: 210px;
  box-sizing: border-box;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: -webkit-fill-available;
  min-width: 290px;
}

.phone {
  position: relative;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  height: 353px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.phone-svg {
  position: absolute;
  /* top: 2px;
  width: 100%;
  height: calc(100% - 2px);
  z-index: 1; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.phone-svg image {
  width: 100%;
  height: 100%;
}

.required:after {
  content: " *";
  color: red;
}

/* .phone::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 10px;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
} */

.phone-notch {
  position: absolute;
  top: -1px;
  width: 27px;
  left: 50%;
  transform: translateX(-50%);
}

.phone-camera {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 10;
}

.react-player {
  position: absolute;
  top: -2px;
  border: 0;
  left: 0;
  z-index: -1;
  animation: fadeOut 0.9s ease-in-out;
  overflow: hidden;
  border-radius: 14px;
}

.react-player video {
  width: 101% !important;
  height: 101% !important;
}
/* .fade {
  animation: fadeOut  1s linear ease-in;
} */
@keyframes slowFade {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fadeOut {
  0% {
    top: 339px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
.phone-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Cairo-SemiBold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-section {
  font-family: Cairo-Semibold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.email-input {
  font-size: 13px;
  background-color: white;
  color: #402670;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  width: 100%;
  height: 25px;
  margin: 8px 0;
}
.message {
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 2px;
  color: #6d44bc;
  font-family: Cairo-Bold;
}

.purple-box {
  background-color: #6d44bc;
  padding: 6px 8px;
  font-size: 10px;
  line-height: 14px;
  padding: 14px;
  border-radius: 12px;
  text-align: center;
  color: white;
  width: 100%;
  margin: 8px;
}
.purple-box p {
  font-family: Cairo-Bold;
  letter-spacing: -0.2px;
}

.phone-text-bold {
  font-family: Cairo-Bold;
  font-size: 20px;
  line-height: 28px;
}

.phone-radar-area {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.phone-central-circle {
  border: 8px solid #6d44bc;
  background-color: #eab611;
  box-sizing: border-box;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 2;
}

.phone-radar-outer-ring {
  position: absolute;
  background-color: white;
  z-index: 1;
  border: 10px solid #6d44bc;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  animation-name: radar-outer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes radar-outer {
  0% {
    height: 60px;
    width: 60px;
    opacity: 1;
  }
  /* 65% {
        transform: scale(1.65);
        opacity: 1;
    } */
  100% {
    height: 150px;
    width: 150px;
    opacity: 0;
  }
}

.phone-radar-inner-ring {
  position: absolute;
  background-color: white;
  z-index: 1;
  border: 10px solid #6d44bc;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.radar-inner {
  box-sizing: border-box;
  animation-name: radar-inner;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  display: inline;
}

@keyframes radar-inner {
  0% {
    height: 60px;
    width: 60px;
    opacity: 1;
  }

  100% {
    height: 150px;
    width: 150px;
    opacity: 0;
  }
}

.ring-2 {
  animation-delay: 600ms;
}
.ring-3 {
  animation-delay: 1200ms;
}

.ring-4 {
  animation-delay: 1800ms;
}

.mobile {
  display: none;
}
.lower-mobile-section {
  display: flex;
  align-self: center;
  margin-bottom: 32px;
}

.lower-whole-container {
  /* display: flex; */
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

.video {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  /* z-index: -1; */
}

.phone-right-container {
  width: 300px;
  display: flex;
}

.volume-button-1 {
  position: absolute;
  bottom: 106px;
  right: -32px;
  height: 40px;
  width: 40px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seek {
  -webkit-appearance: none;
  width: 75%;
  height: 2px;
  background: #6e44bc59;
  outline: none;
  opacity: 01;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 14px;
}

.seek:hover {
  opacity: 1;
}

.seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #eab611;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.246);
}

.seek::-moz-range-thumb {
  width: 2px;
  height: 2px;
  background: #6d44bc;
  cursor: pointer;
}

.volume-button {
  position: absolute;
  right: -12%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-container {
  /* height: 36px;
  width: 36px; */
  margin-left: 2px;
  /* background-color: rgb(234, 182, 17); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  /* border: 22px solid rgb(234, 182, 17); */
}

.go-container::hover {
  opacity: 0.5;
}
.go-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
.go {
  background-color: white;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d44bc;
  font-family: Cairo-Bold;
  padding: 15px;
}

.volume-button-logo {
  height: 40px;
  width: 40px;
  /* border: 1px #eab611 solid; */
  /* border-radius: 50%;
  background-color: #eab611; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  animation: radar-ring-volume;
}

@keyframes radar-inner-volume {
  0% {
    height: 60px;
    width: 60px;
    opacity: 1;
  }

  100% {
    height: 60px;
    width: 60px;
    opacity: 0;
  }
}
.volume-ring {
  height: 40px;
  width: 40px;
  animation-name: radar-inner-volume;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes radar-inner-volume {
  0% {
    height: 30px;
    width: 30px;
    opacity: 1;
  }

  100% {
    height: 60px;
    width: 60px;
    opacity: 0;
  }
}

.ripple-effect {
  animation: ripple 1s linear infinite;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #6e44bc6b, 0 0 0 1px #6e44bc6b, 0 0 0 2px #6e44bc6b,
      0 0 0 3px #6e44bc6b;
  }
  100% {
    box-shadow: 0 0 0 1px #6e44bc6b, 0 0 0 5px #6e44bc6b, 0 0 0 8px #6e44bc6b,
      0 0 0 12px #6e44bc6b;
  }
}

.volume-button-text {
  font-size: 12px;

  color: #6d44bc;
  font-weight: 600;
  margin: 4px 0;
}

.bottom-button {
  display: flex;
  height: 48px;
  width: 48px;
  background-color: #5e5e5e;
  border: 8px solid #b4b4b4;
  border-radius: 50%;
  /* margin: 10px; */
  margin: 0 auto;
}

.r-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 48px;
  width: 48px;
  /* border-radius: 50%; */

  /* margin: 5px 0px 10px 10px; */
  cursor: pointer;
  /* padding-bottom: 4%; */
  /* margin: 0 0 5px 20px; */
  /* cursor: pointer; */
  margin: 0 auto;
}

.disable-r-button {
  filter: grayscale(100%);
}

.r-button-text {
  font-family: Cairo-SemiBold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6d44bc;
}

.r-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slowFade 0.5s linear;
}

.r-button-overlay img {
  width: 100%;
  height: 100%;
}

.divider {
  background-color: #00000075;
  height: 1px;
  width: calc(100% - 64px);
  align-self: center;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 128px;
  display: flex;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  background-color: #6d44bc;
  justify-content: space-between;
  flex-direction: column;

  color: #fff;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
}

.footer-buttons {
  display: flex;
}
.footer-buttons div span {
  font-family: Cairo-SemiBold;
}
.company-details {
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
}

.contact-now {
  margin-left: auto;
  margin-top: auto;
  cursor: pointer;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: #6d44bc;
  border: 1px #fff solid;
  background-color: #eab611;
  /* box-shadow: 6px 6px 12px #d06ed995; */
}

.privacy-policy {
  margin-left: 32px;
  margin-top: auto;
  cursor: pointer;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: #6d44bc;
  border: 1px #fff solid;
  background-color: #eab611;
}
.careers {
  margin-left: 32px;
  margin-top: auto;
  cursor: pointer;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: #6d44bc;
  border: 1px #fff solid;
  background-color: #eab611;
}
.terms-and-conditions {
  margin-left: 32px;
  margin-top: auto;
  cursor: pointer;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: #6d44bc;
  border: 1px #fff solid;
  background-color: #eab611;
}

.top-header {
  position: relative;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  background-color: #6d44bc;
  color: #fff;
  align-items: center;
  overflow: hidden;
}

.top-header .header-text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Cairo-Bold;
  padding: 16px;
}

.top-header .header-text {
  font-size: 60px;
  line-height: 20px;
  font-weight: 100;
}
.top-header div span {
  color: #eab611;
  font-family: Cairo-Bold;
  margin-left: 8px;
}
.top-header .border-image-container {
  position: absolute;

  bottom: -80%;
  height: 200px;
  width: 200px;

  left: 0;
  overflow: hidden;
}
.border-image-container img {
  height: 100%;
  width: 100%;
}

.what-we-do-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  position: relative;
  overflow: hidden;
}

.design-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.design-content {
  width: 100%;
  padding: 2%;
}

.design-section {
  width: 80%;
  margin-bottom: 42px;
  font-family: Cairo-Regular !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
}

.design-two-column {
  width: -webkit-fill-available;
}

.design-two-column .info1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-two-column .info1 li {
  font-family: Cairo-Regular;
  text-transform: none;
}

.color-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* min-width: 520px; */
}

.design-section {
  margin-bottom: 22px;
}

.design-section img {
  max-width: 520px;
}

.design-section .info1 {
  text-transform: none;
}

.design-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.play-store {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
}

.coming-soon-design {
  font-size: 20px;
}
li {
  line-height: 20px;
}
.bottom-banner {
  position: relative;
  height: 260px;
}

.bottom-banner p {
  position: absolute;
  right: 5%;
  bottom: 8%;
  color: white;
  font-size: 32px;
  text-shadow: 2px 5px #2b2b2b49;
}

.equal-opportunity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  text-align: left;
}

.equal-opportunity .card-image {
  width: 320px !important;
  margin-right: 16px;
}

.equal-opportunity .card-image img {
  height: 100% !important;
  width: 100% !important;
}

.privacy-policy-list li {
  margin-bottom: 12px;
}

.privacy-policy-list li ul {
  margin: 12px 24px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .what-we-do-content .content-image-container {
  position: absolute;
  opacity: 0.6;
  height: 500px;
  width: 500px;
} */
/* .what-we-do-content .content-image-container:nth-child(1) {
  top: 2%;
  left: -20%;
}

.what-we-do-content .content-image-container:nth-child(2) {
  top: 30%;
  right: -20%;
}

.what-we-do-content .content-image-container:nth-child(3) {
  top: 55%;
  left: -20%;
}

.what-we-do-content .content-image-container:nth-child(4) {
  top: 100%;
  right: -35%;
} */

.footer-image-container {
  position: absolute;
  right: 4%;
  bottom: -95%;
  /* top: 25%; */
  /* left: -35%; */
  /* overflow: hidden; */
  opacity: 0.6;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 720px;
  position: relative;
}
.bottom-copyright {
  display: none !important;
}

.title {
  margin-bottom: 40px !important;
}
.content-image-container {
  position: absolute;
  height: 500px;
  width: 500px;
  display: none;
}

.left {
  top: -35%;
  left: calc(100vw - 145vw);
  display: none;
}
.right {
  top: -35%;
  right: calc(100vw - 145vw);
  display: none;
}
.info1 {
  font-family: Cairo-SemiBold;
  font-size: 20px !important;
  line-height: 24px;
  text-align: center;
  color: #6d44bc;
  text-transform: uppercase;
  margin: 12px 0;
}
.info1 .caps {
  font-size: 22px !important;
}
.info1 .title {
  text-transform: uppercase;
  font-size: 23px !important;
  font-family: Cario-SemiBold !important;
}
.description1 {
  margin: 1.5% 0;
  line-height: 24px;
  width: 100%;
}

.striped-border {
  border: 0.2px solid #6e44bc6e;
  width: 100%;
  margin: 4% 0;
}
.description-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.description-images .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 2%;
}
.description-images .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
}
.card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-image {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card:nth-child(1) {
  order: 1;
}
.card:nth-child(2) {
  order: 3;
}
.card:nth-child(3) {
  order: 2;
}
.card:nth-child(4) {
  order: 5;
}
.card:nth-child(5) {
  order: 4;
}
.card:nth-child(6) {
  order: 6;
}
.feature-box-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.feature-box {
  background-color: #6d44bc;
  color: white;
  padding: 6px;
  min-width: 80px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Cairo-Bold;
  position: relative;
}

.feature-arrow {
  position: absolute;
  top: 0;
  right: 0;
  color: #402670;
}

.feature-box-right-arrow {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-box-right-arrow img {
  width: 18px;
}

/* .feature-box p::after {
  content: "&#8592;";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eab611;
} */

.coming-soon-container {
  transform: translateX(-40px);
  z-index: -1;
  padding-left: 50px !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.play-store img {
  flex: 1;
  justify-content: center;
  width: 120px !important;
  height: 100%;
}

.mobile-gif {
  max-width: 320px;
  margin: 20px 0;
}

.mobile-gif img {
  width: 100%;
  height: 100%;
}
.videos .card {
  width: 100%;
}
.video-player {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
.video-player:nth-child(1) {
  margin-right: 1.5% !important;
}
.video-player:nth-child(2) {
  margin-left: 1.5% !important;
}
.video-tags .description-images {
  width: 100%;
}
.watermark {
  position: absolute;
  right: -575px;
  bottom: -575px;
  height: 1000px;
  width: 1000px;
  overflow: hidden;
  z-index: -1;
  z-index: -1;
}

.route-buttons {
  display: none;
}
.desktop {
  display: flex;
}
.copyright {
  font-size: 16px;
  text-align: left;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: baseline;
  margin-left: 16px;
}
.copyright span {
  font-size: 23px;
  /* align-self: center; */
  /* justify-self: center; */
  /* height: min-content; */
  position: absolute;
  left: -17px;
  width: max-content;
  height: max-content;
  top: 50%;
  transform: translateY(-45%);
}

.design-two-column {
  display: flex;
}

.reverse-column {
  display: flex;
  flex-direction: row;
}
.design-two-column .info1 {
  text-align: left;
  color: black;
}

.design-two-column ul {
  list-style-type: square;
}

.font-section {
  text-align: left;
  line-height: 40px;
}

.font-section p:nth-child(1) {
  font-size: 52px;
  font-family: Cairo-Bold;
}
.font-section p:nth-child(2) {
  font-size: 44px;
  font-family: Cairo-SemiBold;
}
.font-section p:nth-child(3) {
  font-size: 32px;
  font-family: Cairo-Regular;
}
.font-section p:nth-child(4) {
  font-size: 16px;
  font-family: Cairo-Light;
}

/* .design-header {
  margin-bottom: 20px;
} */

.design-header .header-text {
  justify-content: center;
}

.header-design-overlay {
  width: 520px !important;
  height: 520px;
}
/* .watermark img {
  height: 1000px;
  width: 1000px;
} */
/* @media only screen and (min-width: 320px) {
  .video-tags.description-images {
    width: 100% !important;
  }
  .top-header div {
    font-size: 30px !important;
    line-height: 20px;
    font-weight: 100;
  }
} */
/* Extra Small Devices, Phones */
/* @media only screen and (min-width: 480px) {
  .video-tags.description-images {
    width: 100% !important;
  }
  .top-header div {
    font-size: 30px !important;
    line-height: 20px;
    font-weight: 100;
  }
  .footer-buttons span {
    font-family: "Cairo-SemiBold";
    font-size: 12px;
  }
  .home-page {
    font-size: 12px;
  }
  .what-we-do {
    font-size: 12px;
    margin-left: 20px;
  }
  .brand-identity-design {
    margin-left: 20px;
    cursor: not-allowed;
    font-size: 12px;
  }
} */

/* Small Devices, Tablets */
@media only screen and (max-width: 720px) {
  .volume-button {
    right: -9%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 3px 0 12px 1px #5e5e5e5e;
  }

  .container {
    padding-top: 40px;
  }
  .what-we-do,
  .brand-identity-design {
    display: none;
  }
  .social-media {
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin: 0;
  }
  .social-media div {
    margin: 0;
    height: 32px;
    width: 32px;
    margin-left: 5px;
  }
  .video-tags.description-images {
    width: 100% !important;
  }
  .top-header .heade {
    font-size: 30px !important;
    line-height: 20px;
    font-weight: 100;
  }
  .footer-buttons span {
    font-size: 12px;
  }
  .footer-details {
    flex-direction: column;
  }

  .watermark {
    position: absolute;
    right: -123px;
    bottom: -137px;
    height: 320px;
    width: 320px;
    overflow: hidden;
    z-index: -1;
  }
  /* .watermark img {
    height: 0;
    width: 0;
  } */
  .home-page {
    font-size: 12px;
  }
  /* .what-we-do {
    font-size: 12px;
    margin-left: 20px;
  }
  .brand-identity-design {
    margin-left: 20px;
    cursor: not-allowed;
    font-size: 12px;
  } */
  .phone-section {
    grid-template-columns: 1fr;
  }
  .phone-center-container {
    grid-row: 1;
  }
  .phone-left-container {
    grid-row: 3;
    padding: 35px 0;
  }
  .phone-right-container {
    grid-row: 2;
  }
  .route-buttons {
    display: flex;
  }
  .route-buttons div {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .route-buttons .what-we-do,
  .route-buttons .brand-identity-design {
    display: flex;
    justify-content: center;
    font-family: Cairo-Bold;
    margin: 20px 5px;
  }

  .footer {
    flex-direction: column;
    height: auto;
    padding: 18px;
  }

  .footer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .company-details {
    text-align: center;
    padding: 20px;
  }

  .footer-buttons div {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-weight: 600;
  }
  .footer-buttons div span {
    font-family: Cairo-Bold;
  }

  .card-container .card img,
  .bottom .card img {
    width: 100%;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
  }

  .info1 {
    font-size: 16px !important;
    line-height: 20px;
  }
  .section1 {
    width: 100%;
    font-size: 16px;
    text-align: justify-all;
  }
  .description1 {
    line-height: 20px;
  }
  .top-header {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 8px;
  }
  .top-header .header-text {
    font-size: 22px;
  }
  .card-image {
    width: 80px;
    height: 80px;
  }
  .card {
    flex: 1;
  }
  .card .description1 {
    font-size: 12px;
  }
  .bottom {
    flex-wrap: wrap;
  }
  .bottom .card {
    min-width: max-content;
  }

  .bottom .card:last-child {
    margin: 12px 0;
  }
  .top,
  .bottom {
    justify-content: space-around;
  }

  .videos {
    flex-direction: column;
    padding: 0 24px;
  }

  .video div {
    height: 296px !important;
  }

  .card-caption {
    line-height: 16px;
  }
  .feature-box {
    font-size: 12px;
    padding: 4px;
    min-width: 40px;
  }

  .top-header .border-image-container {
    bottom: -50%;
    height: 80px;
    width: 80px;
    left: 2%;
  }
  .what-we-do-content {
    padding: 0 16px;
  }

  .design-content {
    padding: 0 16px;
  }

  .content-image-container {
    position: absolute;
    height: 150px;
    width: 150px;
    display: none;
  }

  .left {
    top: -15%;
    left: calc(100vw - 125vw);
  }
  .right {
    top: -15%;
    right: calc(100vw - 125vw);
  }
  .title {
    margin-bottom: 20px !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .header-logo {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #6d44bc;
    border-radius: 8px;
    padding: 4px;
    width: 32px;
    height: 32px;
    margin: 0 8px;
  }
  .active-header {
    background-color: #eab611;
  }
  .tooltip .tooltiptext {
    /* visibility: hidden;
    width: 85px;
    background-color: #6e44bcd7;
    border: 1px solid black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 45px;
    z-index: 1;
    right: 0; */
    font-size: 12px;
  }

  .mobile-gif {
    max-width: 240px;
    margin: 20px 0;
  }

  .design-two-column {
    flex-direction: column;
  }
  .design-two-column ul {
    border-left: none !important;
    border-top: 1px solid #6d44bc !important;
  }
  .reverse-column {
    flex-direction: column-reverse;
  }
  .reverse-column ul {
    border-right: none !important;
    padding-right: 0;
    padding-left: 40px;
    padding-right: 0 !important;
  }

  .color-code {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .coming-soon-design {
    font-size: 22px;
    text-align: center;
  }
  .design-mobile {
    width: 100%;
    justify-content: center;
    transform: translateY(60px);
  }
  .play-store {
    justify-content: center;
  }
  .play-store img {
    flex: 1;
    justify-content: center;
    width: 120px !important;
    height: 100%;
  }

  .color-code-container ul {
    margin: 10px 60px !important;
  }

  .mobile-playstore .info1 {
    flex-direction: column-reverse !important;
  }

  .header-design-overlay {
    z-index: 1;
    height: 126px !important;
    width: 185px !important;
    bottom: -88% !important;
    opacity: 0.6;
  }
  .mobile-playstore .info1 {
    justify-content: center !important;
    align-items: center !important;
  }
  .mobile-playstore .info1 ul {
    padding: 0 0 0 40px !important;
    margin-top: 16px;
  }

  .bottom-banner p {
    font-size: 16px;
  }

  .bottom-banner span {
    font-size: 32px !important;
  }

  .bottom-banner {
    height: 80px;
  }

  .equal-opportunity {
    flex-direction: column;
    margin: 16px 0;
    text-align: center;
  }

  .equal-opportunity .card-image {
    height: 80px !important;
    width: 80px !important;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .privacy-policy-list {
    padding: 16px 32px;
  }

  .logo-image {
    height: 32px;
  }

  .description-images .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card:nth-child(1) {
    order: 1;
  }
  .card:nth-child(2) {
    order: 2;
  }
  .card:nth-child(3) {
    order: 3;
  }
  .card:nth-child(4) {
    order: 4;
  }
  .card:nth-child(5) {
    order: 5;
  }
  .card:nth-child(6) {
    order: 6;
  }

  .copyright {
    align-self: center;
  }
  .bottom-copyright {
    display: flex !important;
    align-self: center;
  }
  .coming-soon-container {
    transform: none;
    z-index: -1;
    padding-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .design-section {
    width: 100%;
  }
  .design-mobile div {
    width: 75% !important;
  }

  form {
    font-size: 18px !important;
  }
}
